.topBar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  /* border: 2px solid #fff; */
  box-shadow: 24;
}

.modalCard {
  padding: 10px;
}
